<% if current_user %>
  <%= link_to "Post Something", new_user_post_path(current_user.id) %>
<% end %>
<br>
<br>
<%= render partial: "list", locals: { posts: @posts } %>

<ul class="pagination">
  <% num_page_links.times do |i| %>
    <% if current_page == start_page_count + i %>
      <li class="active">
        <%= link_to start_page_count + i + 1, posts_path(page: start_page_count + i) %>
      </li>
    <% else %>
      <li class>
        <%= link_to start_page_count + i + 1, posts_path(page: start_page_count + i) %>
      </li>
    <% end %>
  <% end %>
</ul>
